// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #1C00FF;
$yellow: #FFC65A;
$orange: #ff3f00;
$green: #1EDD88;
$charcoal: #39393b;
$gray: #0E0000;
$off-white:  #F0F0F0;
$light-gray: #F4F4F4;
