// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Libre+Barcode+128|Montserrat|Open+Sans&display=swap");

// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Montserrat", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
 @font-face {
   font-family: "Pano";
   src: font-url('pano_trial_bold.otf');
 }
 $pano: "Pano";
