.box {
  background-color: $off-white;
  height:auto;
  margin: 0 auto;
  width: 80%;


 }

 .wrapping-box {
  margin: 0 auto;
 }

.cover-avatar {
    height:115px;
    position:relative;
    display:flex;
    background-color: white;
    background-size: cover;
  }

.circle-avatar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
  border-radius: 50%;
  height: 130px;
  width: 130px;
  background-position: center;
  position: absolute;
  left: 300px;
  bottom: 350px;
  border: 10px solid #ff4900;
  padding: 1px;
  z-index: 1000;
  top: 12px;
  left: 25px;
  object-fit: cover;
}



.cover-photo {
  width: 669px;
  height: 123px;
  position: absolute;
  left: 47px;
  top: 7px;
  object-fit: cover;
}
.notification-text {
  color: grey;
  font-family: 'Montserrat';
  font-size: 14px;

}
.profile-content {
  margin :0 auto;
  text-align:left;
}
.event-status {
  width:900px;
  height:100px;
  background-color:lightgrey;
  margin: 20px auto 0 20px;
}
.your-profile {
    list-style: none;
    padding: 0;
    position: relative;
    overflow-y: auto;
    height: 200px;
}

.each-notification {
  padding-left: 50px;
  padding-top: 20px;
  height: 64px;
  background-color: white;
  display: flex;
  border: 2px solid grey;
  border-radius: 5px;
}
.cta-add {
  border: 2px solid #c0c0be;
  background: white;
  color: #c0c0be;
  width: 60px;
  height: 30px;
  cursor: pointer;
  font-size: 10px;
  border-radius:5px;
}
.round {
  position: relative;
}
.round label {
  width: 18px;
  background-color: #fff;
  border: 1px solid #c0c0be;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  left: -46px;
  position: absolute;
  top: 4px;
  width: 18px;
}

#edit-profile {
    position: absolute;
    top: 193px;
    right: 194px;
  }

.round label:after {
  border: 2px solid #c0c0be;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 12px;
}
.round input[type="checkbox"] {
  visibility: hidden;
}
.round input[type="checkbox"]:checked + label {
  background-color: white;
  border-color: #c0c0be;
}
.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
.close {
  width: 18px;
  height: 18px;
  opacity: 0.5;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  top: 123px;
  left: 727px;
  content: ' ';
  height: 19px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.upper-left-box {
  background-color:white;
  height: auto;
  width: 71%;
}

.your-self {
    list-style: none;
    overflow-y: auto;
    height: 300px;
    background-color: white;
    height: 150px;
    display: flex;
    justify-content: space-between;

}
.first-row-box {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.profile-text{
  color: #39393b;
  font-family: 'montserrat';
  padding-left: 15px;
  font-size: 18px;
  padding-top: 19px;
  position: relative;
}

.user-info-1, .user-info-2, .user-info-1-l {
  font-family: 'Montserrat';
  font-size: 18px;

}

.user-info-1 {
  color: $charcoal;
  padding-left: 15px;
  padding-top: 19px;
  top: 21px;
  left: 200px;
  position: absolute;

}

.user-info-1-l {

  padding-left: 15px;
  padding-top: 19px;
  top: 0px;
  left: 62px;
  position: absolute;

}

.user-info-2 {
 color: #39393b;

padding-left: 15px;

padding-top: 19px;

top: 79px;

left: 200px;

position: absolute;
}

.social-media {
color: black;

font-size: 20px;

padding-bottom: 24px;

padding-top: 43px;

display: flex;

flex-direction: column;

padding-right: 21px;

justify-content: space-between;

align-items: center;
}

.event-info {
  display: flex;

}

.spot-status {
  background-color: black;
  color: #ff4900;
  font-family: 'Montserrat';
  font-size: 14px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding-top: 24;
  padding-left: 21px;
  position: absolute;
  right: 13px;
  border: solid 3px #ff4900;
  bottom: 17px;
  z-index: 10000;
  padding-top: 5px;
}

.event-description {
  position: absolute;
  bottom: 25px;
  left: 29px;
  margin-left: 0px;
  background-color: black;
  width: 326px;
  height: 113px;
  padding-left: 15px;
  padding-top: 10px;
  opacity: 25%;
  opacity: 0.6;
}

#dash-card {
  position: relative;
  background-size: cover;
}
#each-event {
position: relative;

background-color: white;

padding-left: 30px;

height: 400px;

padding-top: 22px;
}

.each-event-empty {
position: relative;

text-align: center;

background-color: white;

padding-left: 30px;

height: 150px;

padding-top: 22px;
}
#request-box {
  background-color: white;

  padding-top: 21px;

  overflow-y: scroll;

  height: 400px;

  overflow-x: hidden;
}


.card-text {
  font-size: 22px;
}

#each-event-index {
  border: 1px solid white;
  display: flex;
height: 330px;

}

.row {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 35px;
}

.heading-title {
  text-align: center;
  padding-top: 110px;
}
.users {
  padding-right: 58px;
}
#arrow-rotate {
  transform: rotate(180deg);
  fill: $orange;
  height: 120px;
}
.category {
  color: black;
  width: 120px;
  position: absolute;
  left: 207px;
  text-align: center;
  font-size: 13px;
  position: absolute;
  top: 32px;
}
.spot-pending, .spot-confirmed {
  display: flex;
  justify-content: space-around;
}

.spot-circle {
    width:150px;
    height:150px;
    color: $orange;
    background-color: white;
    border-radius: 50%;

}

.request-content {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  width: 698px;

  padding-left: 15px;

  border-radius: 0;

  padding-right: 34px;

  position: relative;

  margin-bottom: 15px;

  height: 97px;

  padding-left: 24px;
}

.inbox {
  overflow-y: scroll;
  height: 335px;
  overflow-x: hidden;
  position:relative;
}

#arrow-dash {
  fill: $orange;
  width: 90px;
  padding-left: 25px;
  cursor: pointer;
  transform: translateY(0.03em);
}

.spot-circle-filled {
  width:150px;
  height:150px;
  background-color: grey;
  border-radius: 50%;


}
.event-cta {
  display: flex;

  text-align: center;

  color: black;

  padding-top: 19px;

  justify-content: space-around;
}
.event-dash-cta {
  width:150px;
  height:150px;
  background-color: grey;
  border-radius: 50%;
  padding-top: 61px;

}
.status-text {
  color: gray;
  width: 50px;
  font-size: 25px;
}
.spot-text {
  padding-top: 59px;
padding-left: 54px;
}
.create-new-event {
  padding-top: 123px;
}
.create-event {
background-color: white;

font-family: 'pano';

width: 103px;

height: 115px;

color: $charcoal;

border-radius: 50%;

padding: 96px 32px;

border: 12px solid #ff4900;

cursor: pointer;

text-align: center;

text-decoration: none;

-webkit-animation: glowing 1500ms infinite;

animation: glowing 1500ms infinite;

}
.search-creative {
  color: $blue;
  font-family: pano;
 font-size: 15px;
align-items: center;
padding: 65px 25px;
}

.status-text-filled {
  color: grey;
}

.status-title {
  color: grey;
text-align: center;
}

.avatar-message {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  border: solid 3px black;
  object-fit: cover;
}

.inner-circle {
  border-radius: 50%;
  border: solid 2px $orange;
  width: 225px;
  height:225px;
}

.from-info {
  display: flex;
  flex-direction: column;
  font-size: 13px;

  text-align: center;
  left: 102px;
  position: absolute;
  top: 32px;
}

.title-request {
  color: $orange;
}

.request-text-note {
  width: 251px;
  text-align: center;
  font-size: 14px;
  position: absolute;
  left: 76px;
  top: -19px;
  color: black;
}
.request-status-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -44px;
  right: -1px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid black;
    margin: 1em 0;
    padding: 0;
}

.confirm {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  position: absolute;
  right: 26px;
}

.contents {
  position: absolute;
left: 288px;
width: 509px;

}

.event-text {
color: white;

font-size: 18px;

font-family: 'pano';
}

@-webkit-keyframes glowing {
  0% { background-color: white; -webkit-box-shadow: 0 0 3px white; }
  50% { background-color: white; -webkit-box-shadow: 0 0 40px white; }
  100% { background-color: white; -webkit-box-shadow: 0 0 3px white; }
}

@-moz-keyframes glowing {
  0% { background-color: white; -moz-box-shadow: 0 0 3px white; }
  50% { background-color: white; -moz-box-shadow: 0 0 40px white; }
  100% { background-color: white; -moz-box-shadow: 0 0 3px white; }
}

@-o-keyframes glowing {
  0% { background-color: white; box-shadow: 0 0 3px white; }
  50% { background-color: white; box-shadow: 0 0 40px white; }
  100% { background-color: white; box-shadow: 0 0 3px white; }
}

@keyframes glowing {
  0% { background-color: white; box-shadow: 0 0 3px white; }
  50% { background-color: white; box-shadow: 0 0 40px white; }
  100% { background-color: white; box-shadow: 0 0 3px white; }
}

.title-inbox {
  text-align:center;
  color: $orange;
  font-family: 'Montserrat';
}
.mb-0 {
  color: $orange;
}

.content {
  width: 380px;
}

.alert-invitation {
  background-color: #F0F0F0;
  padding-top: 15px;
  padding-left: 20px;
  border-radius: 5px;
  padding-bottom: 15px;
  width: 696px;
  height: 69px;
}

.invi-request {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 250px;

}


.flash-inv {
  position: relative;
  padding: -1px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border-radius: 4px;
  margin: 8px;
 bottom: 15px;

}
a:hover {
  text-decoration: none;
  color: $orange;
}
a {
  color: grey;
text-decoration: none;
background-color: transparent;
}

.mb-0 {
  color: #ff3f00;
  background-color: black;

}

#card-category {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 24px;
  font-family: 'pano';
  font-weight: bold;
  text-shadow: 0;
  height: 60px;
}

.avatar-invi-message {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  position:absolute;
  right: 10px;
  top: 1px;
}

.spot-title {
position: absolute;

top: 2px;

background-color: black;

padding: 10px 15px;

padding-top: 10px;

padding-top: 10px;

padding-top: 10px;

border-radius: 50%;

border-style: solid;

border-color: #ff3f00;

color: #ff3f00;

width: 109px;

height: 69px;

padding-top: 23px;

z-index: 10000000;

font-size: 12px;

text-align: center;
}

.received-time {
  color: grey;

  font-size: 8px;

  font-family: 'pano';

  position: absolute;

  top: 9px;

  left: 14px;
}

.status-green {
  color: #006A39;
}

.status-yellow {
  color: #FDC70F;

}

.status-red {
  color: #d4161a;
}

.confirm-button-r, .confirm-button-c {
  color: grey;
}

.confirm-button-r:hover {
  color: #d4161a !important;
}

.confirm-button-c:hover {
  color: #006A39 !important;
}

.request-title {
color: black;

font-family: 'Montserrat';

font-size: 20px;

text-align: center;
}
#trapezoid {
  width: 130px;
  height: 130px;
  position: absolute;
  top:-7px;
  right: -6px;
  overflow: hidden;

  span {
  position: absolute;
  top: 29px;
  left: 24px;
  transform: rotate(45deg);
  background: black;
  width: 100%;
  height: 25px;
  text-align: center;
  padding: 2px;
  color: $orange;

}
  &::before, &::after{
    border: 6px solid #4cb963;
    content: '';
    position: absolute;
    display: block;
    z-index: -1;
  }
  &::before {
    top: 0;
    left: 29px;
  }

  &::after{

    bottom: 25px;
    right: 0;
  }

}

.request-user-link {
  text-decoration: bold;
  color: $charcoal;
}

