.show-spots{
border: 2px solid lightgrey;
border-radius: 5px;
padding: 5px;
width: 300px;
background-color: white;
margin: 0 auto;
margin-bottom: 100px;
}

.admin-event-control, .admin-spot-control {
border: 2px solid lightgrey;
border-radius: 5px;
padding: 5px;
width: 300px;
background-color: white;
margin: 0 auto;

}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}
// Specific CSS for your home-page
