
.notification-box {
  width: 200px;
}


h1 {
  font-family: 'Pano', sans-serif;
  color: #1C00FF;
}

h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;

}

h5 {
  font-family: 'Libre Barcode 128';
  font-size: 40px;
  color: white;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

body {
  background-color: #202020;
}
.project-info .action {
    grid-column: content-start / half;
    padding-right: 25px;
}

.discover {
 font-size: 35px;
 font-family: 'pano';
 transform: translateY(0.03em);
 cursor:poiner;
}

* {
    margin: 0px;
    padding: 0px;
    padding-right: 0px;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body {
    color: white;
}
.arrow {
    fill: var(--c-orange);
    display: inline-block;
    width: 0.615em;
    height: 0.615em;
    transform: translateY(0.03em);
}

.landing-container {
  width: 980px;
}

svg:not(:root) {
    overflow: hidden;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

#arrow {
  fill:  #ff4900;
  width: 90px;
  fill: #ff4900;
  padding-left: 25px;
  cursor: pointer;
  transform: translateY(0.03em);
}



.sub-heading {
  color: white;
  font-size: 21px;
}
.headings {
  display:flex;
}

.heading-line {
  color: #ff4900;
  font-size: 180px;
  padding-left: 82px;
  padding-top: 400px;
  display: flex;
  margin: 0 auto;
}
.action a {
    font-family: 'pano_bold', sans-serif;
    letter-spacing: -0.06em;
    font-size: 40px;
    line-height: 42px;
}
.action a {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
}
 h2, h2.cite, .event .date, .event a, .project-body .play p, .about h2:last-of-type > span, .about h2:first-of-type > span, .project-info .action a {
    transform: translateX(-0.06em);
}
h2, h2.cite, .event .date, .event a, .project-body .play p, .mail, .project-info .action a {
    font-family: 'pano_bold', sans-serif;
    letter-spacing: -0.06em;
    font-size: 36px;
    line-height: 38px;
}
a {
    display: block;
    color: inherit;
}
* {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body {
    color: white;
}
:root {
    --grid-outer-margin: 50px;
    --blocks-gap: 160px;
    --footer-bottom-space: 50px;
    --project-body-gap: 160px;
}
:root {
    --project-body-gap: 120px;
}
:root {
    --projects-space: 120px;
}
:root {
    --c-blue: #1C00FF;
    --c-orange: #FF4900;
    --c-white: white;
  }
.landing-cta {
    padding-top: 551px;
    padding-left: 295px;
}

.logo {
  color: white;
}

.navbar-brand {
  color: white;
}



.navbar-brand-pages{
  font-family: 'Libre Barcode 128';
  color: #000000;
  font-size: 45px;
}

.show-spots{
border: 2px solid lightgrey;
border-radius: 5px;
padding: 5px;
width: 300px;
background-color: white;
margin: 0 auto;
margin-bottom: 100px;
}

.admin-event-control, .each-spot {
//border: 2px solid lightgrey;
border-radius: 5px;
padding: 5px;
width: 300px;
//background-color: white;
margin: 0 auto;
}
.user-container {
  margin: 0 auto;
  text-align: center;
  padding-top: 150px;
  width: 960px;
}
ol, ul, dl {

  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0;
}

.each-spot {
  border: 50px solid #ff4900;
  border-radius: 100%;
  padding: 5px;
  width: 400px;
  height: 400px;
  background-color: #fff9f9;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
}

.open-spots-control {
  width: 1000px;
}


.admin-spot-control {
//border: 2px solid lightgrey;
border-radius: 5px;
padding: 5px;
width: 1500px;
//background-color: white;
margin: 0 auto;
margin-top: 15px;
margin-bottom:100px

}
.btn-spot {
  width:50px;
  height: 50px;
  border: 2px solid blue;
  border-radius:5px;
  padding: 10px 25px;
  color: blue;
  background-color: white;
}
.card {
  float: left;
  width: 100;
  padding: .75rem;
  margin-bottom: 2rem;
  background-color: #202020;
  border: 3px solid white;
}


.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
  font-family: 'Montserrat'
}
// Specific CSS for your home-page




.navbar-brand {
  font-color: #ff4900;
  font-family: 'Libre Barcode 128';
  font-size: 35px;
}

// .main-cta {
//     border: 2px solid #ff4900;
//     background: transparent;
//     color: #ff4900;
//     width: 150px;
//     height: 50px;
//     cursor: pointer;
//     font-size: 16px;
//     padding: 15px 35px;

//   }

.main-cta a :hover {
   text-decoration: none;
}


.heading {
  color: #000;
  font-size :35;
  font-family: 'Montserrat', sans-serif;
}

.sub-heading{
  color:#ff4900;
}

.site-hero {
  background-size: cover;
  background-position: center center;
  height: 100vh;
  min-height: 700px;
  width: 100%;
}

.site-hero .scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
}

.site-hero .scroll-down > span {
  position: relative;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 13px;
  display: block;
}

.site-hero.overlay:before {
  background: rgba(0, 0, 0, 0.2);
  content: "";
  position: absolute;
  height: 100vh;
  min-height: 700px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.site-hero .btn-primary {
  color: #fff;
}

.site-hero-inner {
  height: 100vh;
  min-height: 700px;
}

.site-hero-inner .heading {
  font-size: 80px;
  color: #fff;
  line-height: 1;
  font-weight: bold;
}



.project-info {
 text-align: left;
padding-top: 180px;
width: 86%;
margin: 0 auto;
}
.each-2,.each-4,  {
  text-align:right;
}
.process-text {
 font-family: 'Montserrat';
 font-size: 18px;
}
.process-photo  {
  width: 550px;
  height:550px;
}

.each-5 {
  display: flex;
  justify-content: space-between;
}

.creative-cta {
  width: 300px;
  padding-top: 60px;

}

.apply {
  font-family: 'pano';
  font-size: 36px;
}


.row {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;}
