* {
    margin: 0px;
    padding: 0px;
    padding-right: 0px;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

h1 {
  font-family: 'Pano', sans-serif;
  color: #1C00FF;
}

h2, h3, h4, h5 {
  font-family: 'Montserrat';
  color: #39393b;
}

h6 {
  font-family: 'Montserrat' !important;
   color: #39393b;
   font-size: 2.5rem;

}

p {
  font-family: 'Montserrat';
   color: #39393b;
  }

body {
  background-color: #F0F0F0;
}

.landing-container {
  width: 960px;
}

.project-info .action {
    grid-column: content-start / half;
    padding-right: 25px;
}


.many-hands-main {
  font-size: 100px;
  font-family: 'Pano', sans-serif;
  color: #ff4900;
  padding-left: 0px;
  padding-top: 0px;
}

.heading-line {
  color: $orange;
  font-size: 120px;
  padding-left: 82px;
  padding-top: 299px;

  display: flex;
  margin: 0 auto;
  position: realtive;
  width: 100vw;
}

.notification-box {
  width: 200px;
}

.index-container {
  width: 90%;
}


.main-text-landing {
  position: absolute;
}

.spot-landing-one {
  position: absolute !important;
  top: 2311px;
  left: 683px;

}


.spot-landing-two {
  position: absolute !important;
  top: 2600px;
  left: 890px;

}

h1, h2, h4, h5 {
  font-family: 'Pano', sans-serif;
  color: #ffffff;
}

h3 {
  color: #eae8e8;
  opacity: 0.8;
  font-family: 'Pano', sans-serif;

}

h5 {
  color: black;
  font-family: 'Pano', sans-serif;

}

h6 {
  color: white;
  font-family: 'Pano', sans-serif;
  opacity: 0.9
}

.main-cta {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  left: 25px;
  top: 208px;
  border: solid 1px #ff4900;
  padding: 15px;
  color: white;
  background-color: #ff4900;
  transition: 2s;
  opacity: 1;
  }

.main-cta:hover {
   text-decoration: none;
   color: #ff4900;
   opacity: 1;
   background-color: white;
   border: solid 1px white ;

}


#arrow {
    fill: var(--c-orange);
    display: inline-block;
    width: 50px;
    height: 50px;
    transform: translateY(0.03em);
}

.headings {
  display:flex;
}


a {
  color: #212121;
}

.sub-heading {
  color: white;
  font-size: 21px;
  position: absolute;
  top: 134px;
  left: 22px;
}

svg:not(:root) {
    overflow: hidden;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}




.action a {
    font-family: 'pano_bold', sans-serif;
    letter-spacing: -0.06em;
    font-size: 40px;
    line-height: 42px;
}
.action a {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
}
//  h2, h2.cite, .event .date, .event a, .project-body .play p, .about h2:last-of-type > span, .about h2:first-of-type > span, .project-info .action a {
//     transform: translateX(-0.06em);
// }
// h2, h2.cite, .event .date, .event a, .project-body .play p, .mail, .project-info .action a {
//     font-family: 'pano_bold', sans-serif;
//     letter-spacing: -0.06em;
//     font-size: 36px;
//     line-height: 38px;
// }
// a {
//     display: block;
//     color: inherit;
// }
// * {
//     margin: 0px;
//     margin-top: 0px;
//     margin-bottom: 0px;
//     padding: 0px;
//     border: none;
//     outline: none;
//     text-decoration: none;
//     list-style: none;
//     box-sizing: border-box;
//     -webkit-tap-highlight-color: transparent;
// }

.landing-box-1 {
  height:1000px;
  background: #1B1B1B;
}

.landing-box-2 {
  height:1010px;
  background: #1B1B1B;
}

.under-landing {
  background-color: #1B1B1B;
  height: 2000px;
  width: 100%;
  display:flex;
}

.how-does {
  padding-top: 0px;
  text-decoration: underline;
  padding-left: 0px;
  color: white;

}

.CREATE {
  padding-top: 100px;
  padding-left: 0px;

}

.your {
  padding-left: 200px;
  padding-top: 10px;
  color: #FF4900;
}

.event {
  padding-left: 250px;
  padding-top: 20px;
}

.listing {
  padding-left: 250px;
  padding-top: 20px;

}
.dotdotdot{
  padding-left: 700px;
  padding-top: 20px;

}

.JOB {
  padding-left: 150px;
  padding-top: 10px;
}

.SPOTS {
  padding-left: 250px;
  padding-top: 10px;
  color: #FF4900;

}

.TO {
  padding-left: 300px;
  padding-top: 10px;

}

.YOURR {
  padding-left: 300px;
  padding-top: 10px;
}

.EVENT {
  padding-left: 300px;
  padding-top: 10px;

}

.search {
  padding-left: 0px;
  padding-top: 30px;

}

.by {

}

.four {
  color: #FF4900;


}

.cat {

}

.and {
  padding-top: 50px;

}

.specific {
  padding-top: 20px;


}

.role {

}

.cat-btn {
  background-color: #FF4900;
  color: white;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  font-weight: bold;

}

.cat-btn-div {
    position: absolute;
    padding-left: 500px;
    top: 3080px;
    left: 440px;

}

.event-image-one {
    width: 500px;
    position: absolute;
    top: 900px;
    left: 650px;
    padding: 20px;
    border: 1px white solid;
}

.event-image-two {
    width: 300px;
    position: absolute;
    top: 1346px;
    left: 816px;
    padding: 20px;
    border: 1px #ff4900 solid;
}

.event-image-three {
    width: 250px;
    position: absolute;
    top: 1670px;
    left: 670px;
    padding: 20px;
    border: 1px white solid;
}

.create-new-landing {

  font-family: 'Pano', sans-serif;
  color: #ff4900;
  padding-left:600px;
  font-size: 20px;
  border: 1px #FF4900 solid;
  padding: 10px;


}

.lets {
  color: black;
}

:root {
    --grid-outer-margin: 50px;
    --blocks-gap: 160px;
    --footer-bottom-space: 50px;
    --project-body-gap: 160px;
}
:root {
    --project-body-gap: 120px;
}
:root {
    --projects-space: 120px;
}
:root {
    --c-blue: #1C00FF;
    --c-orange: #FF4900;
    --c-white: white;
  }
.landing-cta {
    padding-top: 551px;
    padding-left: 295px;
}


.navbar-brand {
  color: white;
}



.show-spots{
border: 2px solid lightgrey;
border-radius: 5px;
padding: 5px;
width: 300px;
background-color: white;
margin: 0 auto;
margin-bottom: 100px;
}

.admin-event-control, .each-spot {
//border: 2px solid lightgrey;
border-radius: 5px;
padding: 5px;
width: 300px;
//background-color: white;
margin: 0 auto;
}
.user-container {
  margin: 0 auto;
  text-align: center;
  padding-top: 150px;
}
ol, ul, dl {

  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0;
}





.btn-spot {
  width:50px;
  height: 50px;
  border: 2px solid blue;
  border-radius:5px;
  padding: 10px 25px;
  color: blue;
  background-color: white;
}

.card {
  background-color: #202020;
  border: 3px solid white;
}


.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
  font-family: 'Montserrat'
}
// Specific CSS for your home-page




.site-hero {
  background-size: cover;
  background-position: center center;
  height: 100vh;
  min-height: 700px;
  width: 100%;
}

.site-hero .scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
}

.site-hero .scroll-down > span {
  position: relative;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 13px;
  display: block;
}

.site-hero.poverlay:before {
  background: rgba(0, 0, 0, 0.2);
  content: "";
  position: absolute;
  height: 100vh;
  min-height: 700px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.site-hero .btn-primary {
  color: #fff;
}

.site-hero-inner {
  height: 100vh;
  min-height: 700px;
}

.site-hero-inner .heading {
  font-size: 80px;
  color: #fff;
  line-height: 1;
  font-weight: bold;
}



.project-info {
 text-align: left;
padding-top: 180px;
width: 86%;
margin: 0 auto;
}
.each-2,.each-4,  {
  text-align:right;
}
.process-text {
 font-family: 'Montserrat';
 font-size: 18px;
}
.process-photo  {
  width: 550px;
  height:550px;
}

.each-5 {
  display: flex;
  justify-content: space-between;
}

.creative-cta {
  width: 300px;
  padding-top: 60px;

}

.apply {
  font-family: 'pano';
  font-size: 36px;
}

.logo-text-landing {
  color: white;

}

.logo-text {
  color: #ff4900;
  opacity: 0.8;
  font-weight: bold;
}


// @mixin BoxShadowHelper($level: 1){
//   @if $level == 1 {
//     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
//   }
//   @if $level == 2 {
//     box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
//   }
// }
// a {transition: .25s all;}
// .card {
//   overflow: hidden;
//   @include BoxShadowHelper(1);
//   transition: .25s box-shadow;
//   &:focus,
//   &:hover {@include BoxShadowHelper(2);}
// }
// .card-inverse .card-img-overlay {
//   background-color: rgba(#333,.85);
//   border-color: rgba(#333,.85);
// }
