              <div class="each-spot" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path spot.requests.first.user.profile_photo %>')">
                <button class="btn edit-spot"><i class="fa fa-edit"></i>
                </button>

                <button class="btn delete-spot"><b>X</b><i class=""></i>
                </button>

                <h3 class="pt-3"><%= link_to "#{spot.requests.first.user.first_name}", spot_creative_path(spot, spot.requests.first.user)%> </h3>

              </div>

