<% if @spot_confirmed.empty? %>
  <%= simple_form_for [@spot, @request] do |f| %>
    <%= f.input :status, collection: Request.statuses.keys %>
    <%= f.input :note %>
    <%= f.submit "Create Request", class: "btn btn-primary" %>
  <% end %>
<% else %>
  <p>This spot has already been taken by someone else</p>
<% end %>
