<%= content_for :navbar do %>
  <%= render 'shared/navbar', light: true %>
<% end %>

  <div class="landing-box-1">
      <section class="site-hero poverlay mb-4" style="background-image: url(https://images.unsplash.com/photo-1466584820433-9ad1cc6798f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80)">

      <div class="container">

        <div class="row site-hero-inner justify-content-center align-items-center">

          <div class="col-md-12 d-flex justify-content-center align-items-center">

            <div class="main-text-landing"></div>
            <h1 class="many-hands-main" data-aos="fade-up">MANY HANDS</h1>

            <p class="sub-heading mb-5" data-aos="fade-up" data-aos-delay="100">
            Make unique events by finding emerging creatives from your local community
            </p>


            <p class="pt-4" data-aos="fade-up" data-aos-delay="100">
           <%= link_to 'EXPLORE', events_path, class: "main-cta" %>
<!--  <button class="spin circle">Spin Circle</button> -->

            </p>

            </div>

          </div>

        </div>

        <!-- NEW CREATIVE THIS WEEK BANNER START-->


        <!-- NEW CREATIVE THIS WEEK BANNER END-->

        <div class="container">
          <br>
          <br>
          <br>
          <br>
          <h1 class="">_______________________</h1>
        </div>



  </section>
</div>


    <div class="under-landing">
      <div class="container">



        <h2 class="how-does">How does it work?</h2>
        <img class="event-image-one" src="https://res.cloudinary.com/dqnhjr33l/image/upload/v1567138280/mq6ghjowyicxudztjdmk.jpg" alt="">
        <img class="event-image-two" src="https://res.cloudinary.com/dqnhjr33l/image/upload/v1567138277/fcd7qutqhsq9kr1w8yb1.jpg" alt="">
        <img class="event-image-three" src="https://res.cloudinary.com/dqnhjr33l/image/upload/v1567749124/profile%20square/mato9ut9dw08qw9xdptn.jpg" alt="">


        <h6 class="CREATE">1. CREATE </h6>
        <h1 class="your">Y</h1>
        <h1 class="your">O</h1>
        <h1 class="your">U</h1>
        <h1 class="your">R</h1>
        <h6 class="event">EVENT </h6>
        <h6 class="listing">LISTING  .  .  .  </h6>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="text-right">_______________________</h1>
        <br>
        <br>

          <div class="each-spot-position spot-landing-one">
                      <div class="spot-btn-hovering">
                        <div class="each-spot text-left" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://indiedeveloper.com/wp-content/themes/sweetdate-child/avatar-blank.jpg')">
                        </div>
                          <h5 class="search-spot-button">search</h5>
                      </div>
          </div>

          <div class="each-spot-position spot-landing-two">
                      <div class="spot-btn-hovering">
                        <div class="each-spot text-left" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dqnhjr33l/image/upload/v1567138281/epbullbmoavgzdrljkvv.jpg')">
                        </div>
                          <h5 class="search-spot-button">search</h5>
                      </div>
          </div>
        <h6 class="CREATE">2. ADD </h6>
        <h6 class="JOB">JOB </h6>
        <h1 class="SPOTS">S</h1>
        <h1 class="SPOTS">P</h1>
        <h1 class="SPOTS">O</h1>
        <h1 class="SPOTS">T</h1>
        <h1 class="SPOTS">S</h1>

        <h6 class="TO">TO </h6>
        <h6 class="YOURR">YOUR </h6>
        <h6 class="EVENT">EVENT </h6>
        <br>
        <br>


        <h1 class="">_______________________</h1>
      </div>

    </div>

    <div class="landing-box-2">
      <div class="container">


        <h6 class="search">3.  S E A R C H </h6>
        <br>


        <h1 class="four">F O U R </h1>
        <h6 class="cat">C A T E G O R I E S </h6>
        <h6 class="and">&</h6>
        <h6 class="specific">S P E C I F I C </h6>
        <h6 class="four">R O L E S</h6>
        <br>

        <div class="cat-btn-div">
          <p class="cat-btn">Sound</p>
          <p class="cat-btn ml-5">Visual</p>
          <p class="cat-btn ml-5">Performance</p>
          <p class="cat-btn">A Helping Hand</p>
        </div>

        <h1 class="text-right">_______________________</h1>
        <br>
        <br>
        <h1 class="text-center">OR</h1>
        <br>
        <h1 class="">_______________________</h1>

        <h1 class="four">WAIT</h1>
        <h6 class="for">FOR</h6>
        <h6 class="and">CREATIVES</h6>
        <h6 class="specific">TO</h6>
        <h6 class="four">APPLY </h6>
        <h6 class="four">TO </h6>
        <h6 class="four">YOUR </h6>
        <h6 class="four">JOB SPOTS </h6>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h6 class="lets">LETS GET STARTED ... </h6>
        <br>
        <br>
        <%= link_to 'CREATE A NEW EVENT', new_event_path, class: "create-new-landing" %>
        <br>
        <br>
        <br>
        <br>








      </div>
    </div>





