.category-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.category-choice {
  background: #b7b7b7;
  padding: 15px;
  min-width: 120px;
  border-radius: 5px;
  opacity: .4;
  
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $orange;

  color: white;
  opacity: 1;
  }
}

.category-choices {
  input[type="radio"]:checked ~ label {
    background: #ff4900;
    color:white;
    font-weight: bold;
    opacity: 1;
  }
}

.boton {
  border: solid 3px $orange;
  background-color: transparent;
  color: $black;
  font-weight: bold;
  margin-right: 15px;
}

.boton:hover {
  color: $orange;
  font-weight: bold;
}

.searching {
min-width: 423px;
min-height: 40px;
}

.nombre {
  font-size: 20px;
  font-weight: bold;
  font-family: montserrat;
}