.spot-fill {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  vertical-align: middle;
  text-align: center;
}

.create-spot {
  padding: 5px;
  width: 200px;
  height: 200px;
  margin: 0;
  position: relative;
  border: 10px solid #FF4900;
  border-radius: 100%;
}





.create-spot:hover .search-spot-button {
  transition: 1s;
  opacity: 1;
  color: white !important;
  position: absolute;
  top: 80px;
  left: 40px;
  text-align: center !important;
}

